/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
// |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | CTRL | META | . |
//             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |
                        display-name = "Base";
                        bindings = <
   AS(Q) AS(W) AS(E) AS(R) AS(T)     AS(Y)   AS(U)  AS(I)     AS(O)     AS(P)
   AS(A) AS(S) AS(D) AS(F) AS(G)     AS(H)   AS(J)  AS(K)     AS(L)     AS(SEMI)
   AS(Z) AS(X) AS(C) AS(V) AS(B)     AS(N)   AS(M)  AS(COMMA) AS(DOT)  	AS(FSLH)
        &kp RALT &mo 1 &kp SPACE     AS(RET) &mo 2  &kp BSPC
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// | !     |  @  |  #  |  $  |  %  |     |HOME |  UP | UP  |HOME|PG_UP|
// | BT1   | BT2 | BT3 | BT4 | BT5 |     |End  | LFT | DOWN|RGT |PG_DN|
// | BTCLR |     |     |     |     |     |     |     |     |    |     |
//               | GUI |     | SPC |     | ENT | ESC | TAB |
                        display-name = "Lower";
                        bindings = <
   &kp TAB	    &kp F1       &kp F2		  &kp F3       &kp F10	        &kp INSERT	&kp HOME  &kp UP         &kp PG_UP   &kp PG_UP
   &kp CAPS		&kp F4       &kp F5       &kp F6       &kp F11		    &kp DELETE	&kp LEFT  &kp DOWN       &kp RIGHT   &kp PG_DN
   &kp LSHFT	&kp F7       &kp F8       &kp F9	   &kp F12          &trans 		&kp END   &trans         &kp PG_DN   &trans 
                             &kp LGUI     &trans       &kp SPACE        AS(RET)   	&kp ESC   &kp BSPC
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
// | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
// | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
//            | GUI | ESC | SPC |     | ENT |     | TAB |
                        display-name = "Raise";
                        bindings = <

   AS(GRAVE) AS(N1)		AS(N2)    	AS(N3)    AS(N0)        &trans  		&trans			&trans		&trans			&trans
   &trans    AS(N4)		AS(N5)		AS(N6)	  AS(MINUS) 	&kp LC(LS(S))	&kp TAB			&kp RALT	&kp LS(TAB)		&kp LC(LA(DEL))
   &trans    AS(N7)		AS(N8)		AS(N9)    AS(EQUAL)   	&kp LC(A)		&kp LC(C)		&kp LC(X)	&kp LC(V)		&kp LC(Z)
                       &kp LGUI  &kp ESC   &kp SPACE     AS(RET)   &trans    &kp TAB
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
